/*#00a779*/

body {
    margin: 0;
    --gxen-kolor: #1F7D63;
}

#supr {
    height: 2.5em;
    padding-right: 0.5em;
    background: var(--gxen-kolor);
    color: white;
    font-size: 1.25em;
}

#uzant {
    float: right;
    width: 2.5em;
    height: 2.5em;
    position: relative;
}

#uzant-menu {
    position: absolute;
    top: 3.25em;
    right: 0;
    background: var(--gxen-kolor);
    width: max-content;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    min-width: 15em;
    max-width: 100vw;
}

#uzant-menu input {
    display: block;
    border: transparent;
    background: #ffffff18;
    margin-top: 0.5em;
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 2px;
}

#uzant-menu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10px;
    width: 3px;
    height: 0;
    border: 0.5em solid transparent;
    border-bottom-color: var(--gxen-kolor);
}

.erar {
    position: absolute;
    top:100%;
    margin-top: -5px;
    background-color: #ED002F;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
}

#uzant-menu button {
    width: 80%;
    margin-top: 0.5em;
    font-size: 1em;
    border: none;
    color: inherit;
    background: #FF9C0055;
    border-bottom: 2px solid #FF9C00;
    border-radius: 0 0 3px 3px;
}

#uzant-menu button:disabled {
    opacity: 0.5;
}

#krei-kont button:disabled {
    opacity: 0.25;
}

#krei-kont button {
    width: 80%;
    font-size: 80%;
    background: #1F7D63;
    color: white;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 0.25em;
}

#uzant-menu #sukc-mark {
    width: 3em;
}

a {
    color: #DFAE61;
}

#krei-uzant-bild {
    border: 1px solid black;
    width: 2em;
    height: 2em;
    border-radius: 5px;
    position: relative;
    cursor: n-resize;
}

#krei-uzant-bild svg {
    height: 50%;
    width: 50%;
}

#krei-uzant-bild-alsxultit {
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    cursor: n-resize;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 6em;
    height: 6em;
}

#krei-kont {
    font-size: 5vh;
}

#krei-kont hr {
    width: 100%;
    margin-top: -0.5em;
    opacity: 0.3;
}

#krei-kont > .kolumn {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0 5px 20px 0 #666;
}

#krei-kont-bonvenon {
    opacity: 0.8em;
}

.meze {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagx-largxa {
    height: 100vh;
}
  
.kolumn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.kolumn > * {
    margin-bottom: 1em;
}

input, textarea, button {
    font-family: inherit;
}

#krei-kont input {
    text-align: center;
}

#krei-kont input, #krei-kont textarea {
    width: 70%;
	display: block;
	margin-top: 0.5em;
	border-radius: 0;
	border: 5px solid transparent;
	border-bottom: 5px solid #888;
	border-top: 5px solid #888;
    font-size: 1em;
}

.eta-teksto {
    font-size: 60%;
    margin-top: -1.5em;
    opacity: 0.7;
    margin-bottom: 0;
}

#krei-uzant-bild-konsileto {
    position: absolute;
    top: 100%;
    font-size: 60%;
    width: max-content;
    text-align: center;
    background: #ddd;
    border-radius: 3px;
    padding: 0 0.4em;
}

#krei-uzant-bild-konsileto::before {
    content: "";
    border: 0.8em solid transparent;
    border-bottom-color: #ddd;
    left: 50%;
    margin-left: -0.8em;
    position: absolute;
    bottom: 100%;
}

#erar-list {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 1em;
    max-width: 20em;
    padding: 0.5em 1em;
    border-radius: 5px;
}

#erar-list h1 {
    font-size: 0.8em;
}

#erar-list div {
    background: var(--gxen-kolor);
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 0.4em;
}

#erar-list hr {
    width: calc(100%);
    padding-left: 2em;
    margin-left: -1em;
    border-color: white;
    margin-top: -0.5em;
}

/*#supernivelo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: all;
    background: #fff4;
}

#auxtent-super {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#auxtent {
    margin-bottom: 1em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0px 5px 1px #0006;
    padding: 1.5em 3em;
}*/